:root {
    /* Global Color Variables */
    --background-header-color: #FFFFFF;
    --text-color: #000000;
    --primary-color: #5B280E;
    --secondary-color: #FFBB3D;

    /* Font Families */
    --font-primary: 'Roboto', sans-serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Font Styles */
    --font-style-normal: normal;
    --font-style-italic: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 2rem 0 2rem 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    flex: 1;
    text-align: left;
    color: var(--background-header-color);
}

/* Navigation */
header nav ul {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex: 2;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li:last-child {
    margin-right: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--background-header-color);
    font-weight: var(--font-weight-bold);
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: solid underline var(--secondary-color) 3px;
}

/* Hamburger Menu Icon */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

#menu::before {
    content: "☰";
    color: var(--background-header-color);
}

#menu.open::before {
    content: "X";
    color: var(--background-header-color);
}

/* Responsive Navigation */
@media screen and (max-width: 600px) {
    header {
        padding: 3rem 0 2rem 20px;
    }

    header h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    header nav ul li:hover {
        text-decoration: solid underline var(--secondary-color) 2px;
        color: var(--text-color);
    }

    header nav ul.open {
        display: flex;
    }

    header nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    #menu {
        display: block;
    }

    .large-image img {
        width: 100%;
        height: auto;
    }
}

/* --- MAIN --- */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#food-spots-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 400px;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    border-bottom: 2px solid #ddd;
}

.card-content {
    padding: 10px;
}

.card-content .country {
    color: var(--secondary-color);
}

.card-flip {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center right;
}

.card-flip .card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    padding: 20px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-back iframe {
    width: 100%;
    max-width: 600px;
    height: 200px;
    border: 0;
}

.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-header-color);
}

/* --- CARD FLIPPED --- */
.card.flipped {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card.flipped::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.card.flipped .card-front {
    display: none;
}

.card.flipped .card-back {
    transform: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    overflow: auto;
}

.card.flipped .card-back iframe {
    height: 300px;
    margin-bottom: 20px;
}

.card-back h2 {
    margin-top: 10px;
    padding-bottom: 1rem;
}

.card-back p {
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

footer #currentyear {
    font-weight: var(--font-weight-bold);
}

footer #lastModified {
    padding-top: 0.1rem;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

/* MEDIA */
@media (max-width: 599px) {
    #food-spots-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    #food-spots-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    #food-spots-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}