* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background-color: navy;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

picture {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    width: 100%;
    background: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
    color: white;
    background-color: navy;
    padding-top: 1rem;
    padding-bottom: 1rem;
}