* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #2d032b;
    padding: .5rem 2%;
    text-align: center;
    font-weight: 700;
}

header h1 {
    margin: 0;
    color: #fff;
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Main */
main {
    padding: 1rem 0;
}

/* Form */

.wf1 {
    padding: 1rem 0;
    background-color: #d5cdd5;
}

.wf1 fieldset {
    border: none;
    margin: 2rem 0;
}

.wf1 legend {
    display: block;
    color: black;
    padding: 0 .5rem;
    font-weight: bold;
}

.wf1 label {
    display: block;
    color: black;
    padding: 0 .5rem;
    font-size: .9rem;
    font-weight: bold;
}

textarea,
input[type="date"],
input[type="text"] {
    display: block;
    padding-top: .5rem;
    color: black;
    font-size: .9rem;
}

.wf1 div {
    padding: 0 .5rem;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

.optional {
    color: #2d032b;
    font-size: small;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 450px;
}

.wf1 input[type="radio"] {
    margin-right: 6px;
    margin-left: 0.5rem;
    width: 24px;
    height: 24px;
}

.features label {
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.wf1 input[type="checkbox"] {
    margin-right: 8px;
    margin-left: 0.5rem;
    width: 24px;
    height: 24px;
}

.wf1 textarea {
    width: 100%;
    max-width: 450px;
    height: 100%;
    min-height: 100px;
}

.wf1 input[type="submit"] {
    border: solid 1px #999;
    background-color: #eee;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 450px;
    margin-left: .5rem;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.wf1 input[type="submit"]:hover {
    background-color: #2d032b;
    color: white;
}

.rating {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.1rem;
}

.rating label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.rating label input[type="radio"] {
    margin-top: 0.2rem;
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 select:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;
}

.wf1 select:required:valid {
    border-left: solid 8px green;
}

/* Footer */

footer {
    background-color: #2d032b;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}

.last-modified {
    color: gold;
    font-size: 0.75em;
}